{% extends 'base.html' %}
{% block banner %}
    <div class="section no-pad-bot" id="index-banner">
	<div class="container">
	    <h1 class="header center orange-text">CLIMATE CHANGE AND FOOD SECURITY</h1>
	    <div class="row center">
		<h5 class="header col s12 light">International Conference on CLIMATE CHANGE AND FOOD SECURITY In South Asia</h5>
	    </div>
	    <div class="row center">
		<a href="{% url 'register' %}" class="btn-large waves-effect waves-light orange">Register Now!</a>
	    </div>
	    <br><br>

	</div>
    </div>
{% endblock %}
{% block content %}
    <h2>NOTES TO AUTHORS</h2>
    <p>
	The papers, deliberations, and conclusion of the conference will be published as a
	special volume in a peer-reviewed journal.

    </p>
    <p>
	Authors are requested to submit the manuscript (two hard copies along with CD)
	upon arriving at the conference. Chairpersons of the sessions are expected to
	summarize the discussion. Such report will also be published.
    </p>
    <h2>Manuscript Preparation (Instructions for Authors)</h2>
    <ol>
	<li>The first page of the manuscripts should have the title, the author’s name (s),
	    affiliation, and any necessary footnotes. The author’s addresses must be the
	    institution where the work was done. An authors’ address, if different, should be
	    footnoted.
	</li>
	<p>
	    The papers should have an abstract, introduction, materials and methods, results
	    and discussion, conclusions and references sections.
	</p>
	<li>
	    Manuscripts can be prepared using any word processor. Type area: 11.5 x 15.5
	    cm. Font: Preferably Times Roman. Font size: Text-11 pt on 15 pt line spacing.
	    Tables, references,footnotes: 9 pt on12 pt line spacing
	</li>
	<li>
	    Figures, tables, and photographs: These have to be referred in the text and leave
	    appropriate space in the text. All terms, abbreviations, text, and symbols must
	    correspond to those in the text.
	</li>
	<li>
	    Figures and lettering should be prepared for 10% reduction. Paste reduced
	    figures in to your copy. If you provide larger originals, please make sure that
	    these are clearly and aesthetically drawn and especially that the lettering is of a
	    size which can be reduced proportionally with the drawing.
	</li>
	<li>
	    Tables should be numbered with Roman numerals, should have a brief title, and
	    a legend.
	</li>
	<li>
	    Photographs: The photographs need to be presented on a separate sheet at their
	    definitive size for the publisher and must not exceed 9cm X 6cm. As the clarity of
	    a printed reproduction depends on the quality of the original, authors areurged
	    to submit the highest quality photographs possible. Colored photographs are
	    not accepted. In photographs, use bars to indicate magnifications.
	</li>
	<li>
	    References : References should be listed alphabetically at the end of the
	    manuscript. Example: Weaver, P.K.(1975). Arch. Microbiol.105,207-216. Use
	    author and year system in the text. Example: Weaver(1975).
	</li>
	<li>
	    It is the responsibility of the individual author to obtain permission to use
	    previously published material. Permission must be obtained from the original
	    copyright owner.
	</li>
    </ol>
{% endblock %}
