{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
     #index-banner{
	 background-image: url("{% static  'website/img/banner_three.jpg'%}");	 
     }
     .card.small{
	 height: 150px;
     }
     p{
	 font-size: 10.5px;
     }
     
    </style>
{% endblock %}

{% block banner %}
    <div class="section no-pad-bot" id="index-banner">
	<div class="container">
	    <div class="row">
		<div class="col s2 m12 l12 white-text">
		    <h1>Welcome To</h1>
		    <h4>International Conference on</h4>
		    <h4>CLIMATE CHANGE AND FOOD SECURITY</h4>
		    <h4>In South Asia</h4>
		    <h6>March 18-21, 2020, Dhaka, Bangladesh</h6>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
	<div class="row">
	    <div class="col s12 m12 l12 center">
		<h2>ORGANIZING COMMITTEE</h2>
	    </div>
	</div>
	<div class="row">
	    <div class="col l3 hide-on-med-and-down"></div>
	    <div class="col s12 m12 l6">
		<div class="card horizontal small hoverable">
		    <div class="card-image">
			<img src="{% static 'website/img/president.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p class="top-for-p"><strong>President:</strong> <br/>Prof. Dr. Md. Akhteruzzaman, <br/> Vice Chancellor, <br/> University of Dhaka, Bangladesh</p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col l3 hide-on-med-and-down"></div>
	</div>
	<div class="row">
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/tresarer.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p><strong>Treasurer:</strong> <br/>Prof. Dr. Md. Kamal Uddin, <br/> Treasurer, <br/> University of Dhaka, Bangladesh</p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/imda.gif' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p><strong>Member:</strong> <br/>Prof. Dr. Md. Imdadul Haque, <br/> Dean, Biological Sciences, <br/> University of Dhaka, Bangladesh</p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/maksud.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p><strong>Member:</strong><br/>Prof. Dr. ASM Maksud Kamal, <br/> Dean, Earth & Environmental Sciences, <br/> University of Dhaka</p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col l3 hide-on-med-and-down"></div>
	    <div class="col s12 m12 l6">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/cc.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Chief Coordinator:</strong>
				<br/>Prof.Dr. AHM Mustafizur Rahaman,
				<br/> Professor, <br/>Department of Soil, Water & Environment,
				<br/> University of Dhaka, Dhaka. Bangladesh
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col l3 hide-on-med-and-down"></div>
	</div>
	<div class="row">
	    <div class="col s10 m12 l12 center">
		<h3>INTERNATIONAL COMMITTEE</h3>
	    </div>
	</div>
	<div class="row">
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/chairman.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Chairman:</strong><br/>
				Dr. MVK Sivakumar, <br/>
				Senior Consultant, WMO, Switzerland.
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/ic_member_1.jpeg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Member:</strong><br/>
				Dr. Thierry Heulin, <br/>
				LEMiRE-BIAM-CNRS France
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/ic_member_2.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Member:</strong><br/>
				Dr. Khondoker Rafiqul Islam, <br/>
				The Ohio State University, USA
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/wmo.png' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Member:</strong><br/>
				Representative from WMO, Switzerland
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/fao.png' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Member:</strong><br/>
				Representative from FAO, Thailand
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l4">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/unescap.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Member:</strong><br/>
				Representative from UNESCAP, Thailand
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col s12 m12 l6">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/rl.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Advisor:</strong><br/>
				Prof. Dr. Ratan Lal, <br/>
				The Ohio State University, USA <br/>
				Past Chairman, <br/>
				International Committee on Climate Change and Its Effects<br/>
				held in Dhaka, August 25-30, 2008
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col s12 m12 l6">
		<div class="card horizontal small">
		    <div class="card-image">
			<img src="{% static 'website/img/smaf.jpg' %}">
		    </div>
		    <div class="card-stacked">
			<div class="card-content">
			    <p>
				<strong>Advisor:</strong> <br/>
				Prof. Dr. SMA Faiz, <br/>
				Former Vice Chancellor, Dhaka University, Bangladesh <br/>
				Past President, <br/>
				National Committee on Climate Change and Its Effects <br/>
				held in Dhaka, August 25-30, 2008
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    
{% endblock %}
