{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
     #index-banner{
	 background-repeat: no-repeat;
	 background-position: center;
	 background-color: #cccccc;
     }
    </style>
{% endblock %}
{% block banner %}
    <div class="section no-pad-bot" id="index-banner">
	<br/><br/>
	<div class="container">
	    <div class="row valing-wrapper">
		<h1 class="header center-align lime black-text" >CLIMATE CHANGE AND FOOD SECURITY</h1>
		<h5 class="light center-align lime black-text">International Conference on CLIMATE CHANGE AND FOOD SECURITY In South Asia</h5>
	    </div>
	    <div class="row center">
		<a href="{% url 'register' %}" class="btn-large waves-effect waves-light red">Register Now!</a>
	    </div>
	    <br/><br/>
	    <div class="row center">
		<img alt="" src="{% static  'website/img/banner_one.jpg'%}"/>
	    </div>
	</div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
	<h2>Preface</h2>
	<p>
	    This International Conference on Climate Change and Food Security in South Asia is
	    a continuation of the International Symposium on Global Climate Change and Food
	    Security in South Asia which was held in Dhaka, Bangladesh ten years ago, from
	    25 to 30 August, 2008. The present conference will more specifically evaluate the
	    impact of climate change on crop production in South Asia.
	</p>
	<div class="divider"></div>
	<h2>Introduction</h2>
	<p>
	    Across South Asia, large populations depend on semi-subsistence agriculture.
	    According to the Fifth Assessment Report of the WMO/UNEP Intergovernmental
	    Panel on Climate Change (IPCC) released in 2014 on future projections of climate
	    change, South Asia is very likely to be seriously affected because of global warming.
	    Moreover, fresh water availability is projected to decrease and coastal areas will be
	    at the greatest risk due to increased flooding from the sea and rivers. In some South
	    Asian countries, a substantial reduction in crop yields from rain-fed agriculture
	    could occur. Additionally, dramatic changes in the land use patterns in South Asia
	    compound the problem of climate change. To cope with climate change more
	    effectively in South Asia, it is necessary to integrate climate-smart agriculture
	    options for a range of ecosystems, so as to enable a favorable policy environment
	    for the implementation of a regional climate change adaptation framework.
	</p>
	<div class="divider"></div>
	<h2>Objectives</h2>
	<table class="striped">
	    <tr>
		<td>
		    <li>
			To provide a central forum to improve
			understanding and assessment of climate change
			impacts on agriculture and the associated
			vulnerability in South Asia;
		    </li>
		</td>
	    </tr>
	    <tr>
		<td>
		    <li>
			To identify and adapt climate-smart
			agriculture in different ecosystems of South
			Asia;
		    </li>
		</td>
	    </tr>
	    <tr>
		<td>
		    <li>
			To discuss and propose a regional Agricultural Mitigation and Adaptation
			Framework for Climate Change in South Asia;
		    </li>
		</td>
	    </tr>
	    <tr>
		<td>
		    <li>
			To discuss the implementation of a regional
			framework and it’s integration into the
			sustainable development planning of South Asia
			countries; and
		    </li>
		</td>
	    </tr>
	    <tr>
		<td>
		    <li>
			To discuss appropriate options for
			strengthening information exchange on climate
			change impacts and foster cooperation on
			climate-smart agriculture in South Asia.
		    </li>
		</td>
	    </tr>
	</table>
	<div class="divider"></div>
	<p>These objectives will be realized through presentations of invited keynote speakers,plenary sessions and working groups</p>
	
	<h2>Plenary Sessions</h2>
	<ol>
	    <li>Climate Change Impacts on Agriculture in South Asia</li>
	    <li>Mitigation and Adaptation Options in different Agroecosystems in South Asia</li>
	    <li>Policy, Financial, Institutional and Cooperation Issues</li>
	</ol>
	<h2>Working Groups</h2>
	<ol>
	    <li>Soil/Water/Nutritional Quality</li>
	    <li>Vegetation Management</li>
	    <li>Carbon Sequestration</li>
	</ol>
    </div>
    
{% endblock %}
