{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
     #index-banner{
	 background-image: url("{% static  'website/img/banner_two.png'%}");
	 background-repeat: no-repeat;
	 background-position: center;
	 height: 660px;
	 
     }
    </style>
{% endblock %}
{% block banner %}
    
    <div class="section no-pad-bot" id="index-banner">
	<div class="container">
	    
	</div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
	<div class="row">
	    <div class="col s12 m12 l12 center">
		<h1>GENERAL INFORMATION</h1>
	    </div>
	</div>
	<div class="col s12">
	    <h4>Location and Date</h4>
	    <p>
		The International Conference will take place at the Sonargaon Hotel and
		Dhaka University, Dhaka, Bangladesh, from 18 to 21 March, 2020.
	    </p>
	    <h4>Language</h4>
	    <p>
		English will be the official language of the conference.
	    </p>
	    <h4>Proceedings</h4>
	    <p>
		The papers and deliberations of the Conference will be
		published as a Special Volume. Abstracts should be
		submitted by 30 January, 2020 in standard A4 size and
		should be <span class="red-text">ready for reproduction</span>. Final
		manuscript (two copies) should be submitted be for
		presentation (please see the guidelines on Note to
		Authors).
	    </p>
	    <h4>Registration Fee</h4>
	    <p>
		BDT 2000 for local participants, and US $200 for foreign participants. For
		accompanying persons, BDT 1000 for local participants and US $100 for
		foreign participants.
	    </p>
	    <h3 class="red-text">The last date of registration is 28 February, 2020.</h3>
	    <h4>Accomodation Rates*</h4>
	    <table class="responsive-table">
		<thead>
		    <tr>
			<th>Hotel</th>
			<th>Single</th>
			<th>Double</th>
		    </tr>
		</thead>

		<tbody>
		    <tr>
			<td>5 star (Sonargaon)</td>
			<td>US $150</td>
			<td>US $80</td>
		    </tr>
		    <tr>
			<td>3 star</td>
			<td>US $60</td>
			<td>US $40</td>
		    </tr>
		    <tr>
			<td>Others</td>
			<td>US $25</td>
			<td>US $40</td>
		    </tr>
		</tbody>
	    </table>
	    <p>
		* Including breakfast & transport from airport to
		hotel. Further information and assistance for
		intending participants in connection with travel and
		hotel reservation at Dhaka can be obtained from the
		Chief Coordinator.
	    </p>
	    <h4>Payment should be transferred to:</h4>
	    <p>
		International Conference on Global Climate Change and Its Effects. Account
		No: 4405734222719, Code BSONBDDH, at Sonali Bank Ltd., Dhaka University
		Branch. Dhaka-1000, Bangladesh.
	    </p>
	</div>
	<div class="row">
	    <div class="col s12 m12 l12 center">
		<h1>Additional Information</h1>
	    </div>
	</div>
	<div class="col s12">
	    
	    <h4>City:</h4>
	    <p>
		Dhaka is the capital of Bangladesh. The city was
		founded in 1608 A. D. in the days of the Mughal
		dynasty, although there are plenty of evidence, in the
		vicinity, of other much historic/older
		occupations. Still the association of Dhaka with the
		Mughals is one of the city’s greatest distinctions and
		accounts for the very large number of monuments and
		mosques; many of them possessing great architectural
		merit.
	    </p>
	    <h4>Weather:</h4>
	    <p>
		The weather during the Conference, is typically pleasant, temperature ranging
		between 20° and 35°C and with occasional rain. Local time is GMT+ 6H. Umbrella
		may be needed.
	    </p>
	    <h4>Currency:</h4>
	    <p>
		The Official Currency is the Bangladeshi Taka (BDT). Exchange of mony is available
		in all Banks against EURO, US dollar and Sterling Pound: Approximate Exchange rate
		(with daily fluctuation) 1 EURO = ~BDT 94.00, 1 US dollar= ~BDT 84.00 and 1 Pound=
		~BDT 109.00.
	    </p>
	    <h4>Visa:</h4>
	    <p>
		All foreign Nationals visiting Bangladesh must possess
		a passport and other travel documents valid for
		Bangladesh. They need to obtain a visa prior to their
		arrival, and contact the Bangladesh Embassy, High
		commission or Consulate in their respective
		countries. Invitation letter for visa processing will
		be provided, if necessary.
	    </p>
	    <h4>SOCIAL EVENTS:</h4>
	    <p>
		Traditional Cultural Show and half day city guided tour will be provided.
	    </p>
	    <h4>For Further Information:</h4>
	    <p>
		Professor Dr. A.H.M. Mustafizur Rahman <br/>
		Chief Coordinator <br/>
		International Conference on CLIMATE CHANGE AND FOOD SECURITY in South Asia <br/>
		March 18-21, 2020, Dhaka, Bangladesh. <br/>
		<a href="mailto:ccfs2020bd@gmail.com" class="red-text">ccfs2020bd@gmail.com</a><br/>
		<a href="ccfsbd.com" class="red-text">ccfsbd.com</a> <br/>
		Nabab Nawab Ali Chowdhury Senate Bhaban, University of Dhaka <br/>
		Dhaka-1000, Bangladesh <br/>
		PABX: 9661900, Fax: 880-2-8615583, E-mail: vcoffice@du.ac.bd <br/>
		Web: www.univdhaka.edu, www.du.ac.bd
		
	    </p>
	</div>
    </div>
    
{% endblock %}
