{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
     
    </style>
{% endblock %}
{% block content %}
    <div class="row">
	<div class="col s12">
	    <div class="row">
		<form method="post">
		    {% csrf_token %}
		    {% for field in form %}
			{% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'city' or field.name == 'country'%}
			    <div class="input-field col s6 back-text">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }} 
			    </div>
			{% else  %}
			    <p class="input-field col s12">
				{{ field }}
				{{ field.label_tag }}
			    </p>
			{% endif %}
		    {% endfor %}
		    <br><br>
		    <div class="col s12">
			<input name="submit" type="submit" value="Submit" class="btn" />
		    </div>
		</form>
	    </div>	
	</div>
    </div>
    <br><br>
    
{% endblock %}


