
<!doctype html>
<html lang="en">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="CLIMATE CHANGE AND FOOD SECURITY, Email-ccfs2020bd@gmail.com">
	<meta name="keywords" content="climate change, environment, conference, 2020, soangoan hotel, food security, dhaka university, agricultur, pollution">
	<meta name="google-site-verification" content="MUFzOWTLqCz5xcmwIQcZR-Qkh9F03NUz9k4SiPyAvPg" />
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% block css %}
	{% endblock %}
	<title>CCFS</title>
    </head>
    <body>
	<nav>
	    <div class="nav-wrapper container">
		<a href="#!" class="brand-logo">CCFS</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
		    <li><a href="{% url 'index' %}">HOME</a></li>
		    <li><a href="{% url 'info' %}">INFORMATION</a></li>
		    <li><a href="{% url 'author' %}">NOTE TO AUTHOR</a></li>
		    <li><a href="{% url 'committee' %}">COMMITTEE</a></li>
		    <li><a href="{% url 'register' %}" class="waves-effect waves-light btn">REGISTER NOW</a></li>
		    <li><a href="/admin" class="waves-effect waves-light btn" target="_blank">LOGIN</a></li>
		</ul>
	    </div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
	    <li><a href="{% url 'index' %}">HOME</a></li>
	    <li><a href="{% url 'info' %}">INFORMATION</a></li>
	    <li><a href="{% url 'author' %}">NOTE TO AUTHOR</a></li>
	    <li><a href="{% url 'committee' %}">COMMITTEE</a></li>
	    <li><a href="{% url 'register' %}" class="waves-effect waves-light btn">REGISTER NOW</a></li>
	    <li><a href="/admin" class="waves-effect waves-light btn" target="_blank">LOGIN</a></li>
	</ul>
        {% block banner %}
	{% endblock %}
	<div class="container">
	    {% block content %}
	    {% endblock %}
	</div>
	
        <footer class="page-footer">
            <div class="footer-copyright">
		<div class="container">
		    © 2019 Copyright 
		    
		</div>
            </div>
        </footer>
        
	<!-- Optional JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
	 
	</script>
	<script>
	 document.addEventListener('DOMContentLoaded', function() {
	     var elems = document.querySelectorAll('.sidenav');
	     var instances = M.Sidenav.init(elems);
	 });

	 document.addEventListener('DOMContentLoaded', function() {
	     var elems = document.querySelectorAll('select');
	     var instances = M.FormSelect.init(elems);
	 });

	</script>
    </body>
</html>
